@import "tailwindcss";

/* npx @tailwindcss/cli -i ./src/style/master.css -o ./src/style/output.css --watch */
.myBg {
    background-image: url('../assets/img/background.png');
}

.Bg1 {
    background-color: rgba(114, 114, 114, 0.451);
    backdrop-filter: blur(20px);
}

.fontfamily {
    font-family: "Rubik Wet Paint", system-ui;
}

.prbarBg {
    background: #ffa19e;
    background: linear-gradient(143deg, rgba(216, 169, 168, 0.389) 0%, rgb(116, 32, 21) 50%);
}



/* -------------------scrollbar-------------------- */
::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

::-webkit-scrollbar-track {
    background: none;
}

::-webkit-scrollbar-thumb {
    background: rgba(255, 201, 201, 0.074);
    border-radius: 5px;
}